@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #5B5842;
    color: #f3ebd9;
    text-align: center;
}

/* headings */

h1, h2{
    font-family: 'Stardos Stencil', Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    padding-left: 30px;
}

h1 {
    font-size: 400%;
}

h2 {
    font-size: 250%;
}

h3 {
    font-family: 'Stardos Stencil', Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 200%;
}

/* links and navigation */

a {
    color: #f3ebd9;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ff9490;
    text-decoration: underline;
}

nav {
    text-align: center;
    padding: 5px 0;
}

nav li {
    display: inline-block;
    padding: 0 5px;
}

/* header and header image */

header {
    padding-bottom: 75px;
}

#header-image {
    background-image: url('../images/325293_2449471126196_614950453_o.jpg');
    background-size: 100%;
    background-position-y: 70%;
    width: 100%;
    height: 250px;
}

/* class for the paragraph text */

.text-left {
    max-width: 90%;
    margin: auto;
    text-align: left;
    padding-bottom: 10px;
}

/* history section */

#history {
    padding-bottom: 75px;
}

#history img {
    max-height: 150px;
    border-radius: 12px;
}

/* events section */

#events {
    padding-bottom: 75px;
}

#events-text {
    max-width: 90%;
    text-align: left;
}

#event-list {
    background-image: url('../images/12985525_10208939385711932_3314566760604425906_n.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

.event-box {
    height: 100px;
    background-color: rgba(0,0,0, .6);;
    width: 50%;
    border-style: dashed;
    text-align: center;
    float: left;
    border: 5px solid #5B5842;
    box-sizing: border-box;
}

/* contact section */

#contact {
    padding-bottom: 75px;
}

#contact-form {
    width: 75%;
    text-align: right;
}

#contact-submit {
    background-color: #ff9490;
    border: none;
    color: #3b3a2b;
    font-weight: bold;
    font-family: 'Stardos Stencil', Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
}

#contact-submit:hover {
    background-color: #3b3a2b;
    color: #ff9490;
}

/* footer */

footer p {
    text-align: center;
}

/* Media queries */

/* For screen sizes from 900px wide and down */
@media screen and (max-width: 900px){
    h1 {
        font-size: 250%;
    }
    
    h2 {
        font-size: 180%;
    }
    
    h3 {
        font-size: 140%;
    }
    h4 {
        font-size: 80%;
    }
    #contact-form {
        width: 85%;
    }
}

/* For screen sizes from 570px wide and down */
@media screen and (max-width: 570px){
    nav a {
        font-size: 75%;
    }

    #header-image {
        height: 180px;
    }

    p {
        font-size: 75%;
    }

    h1 {
        font-size: 140%;
    }
    
    h2 {
        font-size: 120%;
    }
    
    h3 {
        font-size: 100%;
    }
    h4 {
        font-size: 70%;
    }
    #contact-form {
        width: 98%;
    }
}